.calc {
	display: grid;
	background-color: var(--white);
	padding: 2rem;
	border-radius: 1rem;
	gap: 1rem;
	width: 100%;
	max-width: 375px;
	position: relative;
	margin-top: 10rem;
	box-shadow: 0 0 2rem rgb(0, 0, 0, 0.1);
}

.calc__section {
	display: grid;
	gap: 0.5rem;
	position: relative;
}

.calc__logo {
	position: absolute;
	top: -5rem;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
	.calc {
		max-width: 60rem;
		grid-template-columns: 1fr 1fr;
		margin-top: 0rem;
		gap: 3rem;
		padding-left: 3rem;
	}
}
